@*@model IEnumerable<Tour.Models.AtData>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


    <div id="container">

        <ul class="list-unstyled">
        </ul>
        @*@foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }*@
    </div>




@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $.ajax({
        type: 'get',
        url: 'http://localhost:56942/api/AttrationsAPI',
        success: function (data) {
            let Data = data.XML_Head.Infos.Info
            console.log(Data);

            for (i = 0; i < 5; i++) {
                item = `<li class="media mb-3">
                                <img src=${Data[i].Picture1} class="mr-3" width="200" />
                                <div class="media-body">
                                    <h4 class="mt-0 mb-1"> ${Data[i].Name} </h4>
                                    <h5>電話:${Data[i].Tel}</h5>
                                    <p class="card-text">地址:${Data[i].Add}</p>
                                </div>
                                <a href="https://www.google.com.tw/maps/search/${Data[i].Name}/@@${Data[i].Py},${Data[i].Px},15z/" target="_blank" class="btn btn-success btn-block">查看地圖</a>
                        </li>`;






                $('#container > .list-unstyled').append(item);
            }

        },
        error: function () {
            alert('error');
        }
    });
</script>*@
