<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>錯誤</title>
</head>
<body>
    <hgroup>
        <h1>施工中</h1>
        <h2>請下次再試</h2>
    </hgroup>
</body>
</html>
@*會放在Shared的兩大類
1.沒有Controller(Layout.Error)
2.會被View用的View(PartialView)*@