
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>上傳檔案</title>
</head>
<body>                                              @*只要有上傳檔案的欄位就要用*@
    <form action="/FileUpLoad/Create" method="post" enctype="multipart/form-data">

        <p>請選擇要上傳的檔案</p>
        <p><input id="photo" type="file" name="photo" /></p>
        <p><input id="Submit1" type="submit" value="上傳檔案" /></p>
        <hr />
        @ViewBag.Message
        <div>
            <a href="/FileUpLoad/ShowPhotos">點我看所有照片</a>
        </div>
    </form>








</body>
</html>
